p {
  margin:0
}

.form-inline {
  text-align: center;
}

body header {
  text-align: center;
  font-size: 30px;

}

body header img {
  width: 10%;
}

#resultsDiv h3{
  text-align: center;
}

#resultsDiv img {
  text-align: center;
}

.typelogo {
  width: 80px;
}